body{
    transition: background-color 0.5s;
}
.container{
    display:flex;
    height:90vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.toggle-button{
    width: 190px;
    height:90px;
    border:2px solid black;
    border-radius: 50px;
    background-color: #b3abab;
    transition: backgorund-color 5s;
    /* background-color: rgb(179, 171, 171); */
}

.switch-off{
    position: relative;
    width:85px;
    height:88px;
    background-color: rgb(89, 85, 85);
    border: 1px solid black;
    border-radius:100%;
    transform: translateX(3px);
    transition:transform 0.25s;
    transition-timing-function: ease-in-out;

}

.switch-on{
    position: relative;
    
    width:85px;
    height:88px;
    background-color: white;
    border: 1px solid white;
    border-radius:100%;
    transform: translateX(100px);
    transition:transform 0.25s;
    transition-timing-function: ease-in-out;
}

.toggle-button-on{
    width: 190px;
    height:90px;
    border:1px solid white;
    border-radius: 50px;
    transition: background-color 1s;
    

}